body {
    background-color: #ddd;
    font-family: 'Helvetica Neue', sans-serif;
    color: #444;
    line-height: 1.5;

    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
}

a {
    color: #4A90E2;
    text-decoration: none;
    cursor: pointer;
}

main {
    background-color: white;
    border-radius: 20px;
    padding: 5%;
}

h1, h2 {
    color: rgb(140, 76, 8);
}

section {
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px gray;
}